<%- include("../includes/header.ejs", {title: "Update " + resume.resume_name}); %>

<h1>Update <%= resume.resume_name%></h1>

<% if (locals.was_successful) {%>
<div class = "col-md-12">
    <div id = "message" class="alert alert-success col-md-4">
        <%= resume.resume_name + " was successfully saved." %>
    </div>
</div>
<%}%>

<form action="/resume/update" method="post">
    <input type="hidden" id="resume_id" name="resume_id" value="<%= resume.resume_id %>">
    Resume Name: <input id="resume_name" name="resume_name" type="text" value="<%= resume.resume_name%>"/>
    <br />
    <br />
    School </br>

        <select id="school_id" name="school_id" multiple="multiple">
            <% for(var i=0; school.length > i; i++ ) {
                var selected = "";
                for (var j=0; resume_school.length > j; j++) {
                    if (school[i].school_id == resume_school[j].school_id) {
                        selected = "selected";
                    }
                }

            %>
            <option value="<%= school[i].school_id %>" <%= selected %> ><%= school[i].school_name %></option>
            <% } %>
        </select>

    <br />
    Company </br>

    <select id="company_id" name="company_id" multiple="multiple">
        <% for(var i=0; company.length > i; i++ ) {
            var selected = "";
            for (var j=0; resume_company.length > j; j++) {
                if (company[i].company_id == resume_company[j].company_id) {
                    selected = "selected";
                }
            }

        %>
        <option value="<%= company[i].company_id %>" <%= selected %> ><%= company[i].company_name %></option>
        <% } %>
    </select>

    <br />
    Skill </br>

    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for(var i=0; skill.length > i; i++ ) {
            var selected = "";
            for (var j=0; resume_skill.length > j; j++) {
                if (skill[i].skill_id == resume_skill[j].skill_id) {
                    selected = "selected";
                }
            }

        %>
        <option value="<%= skill[i].skill_id %>" <%= selected %> ><%= skill[i].skill_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();
            $('#company_id').multiselect();
            $('#skill_id').multiselect();
        });
    </script>

        <br />
        <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>