<%- include("../includes/header.ejs", {title:"Resume - View All"}); %>

<h1>Resume</h1>

<% if (locals.was_successful) {%>
<div class = "col-md-12">
    <div id = "message" class="alert alert-success col-md-4">
        <%= locals.resume_name + " was successfully updated." %>
    </div>
</div>
<%}%>

<a href="/resume/add/selectuser">Create New Resume</a> <br />

<br />

<table border="1">
    <tr><th>First Name </th> <th>Last Name </th> <th>Resume Name</th><th>Action</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].first_name %></td>
        <td><%= result[i].last_name %></td>
        <td><%= result[i].resume_name %></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/resume/edit/?resume_id=<%= result[i].resume_id %>&account_id=<%= result[i].account_id %>'">Edit</button>
        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>