<%- include("../includes/header.ejs", {title:"Select User for New Resume"}); %>
<h1>Select an User for New Resume</h1>
<form action="/resume/add" method="get">
    User Name:
    <br />
    <select id="account_id" name="account_id">
        <% for(var i=0; account.length > i; i++ ) { %>
        <option value="<%= account[i].account_id %>"><%= account[i].first_name + ' ' + account[i].last_name %></option>
        <% } %>
    </select>

    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>