<%- include("../includes/header.ejs", {title:"Add New Address"}); %>
<h1>Add New Address</h1>
<form action="/address/insert" method="get">
    Street: <input id="street" name="street" type="text" size="70" maxlength="256"  />
    <br />
    Zip Code: <input id="zip_code" name="zip_code" type="text" size="20" maxlength="30"  />
    <br />



    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>