<h1>Update <%= address.street%> <%= address.zip_code %></h1>
<form action="/address/update" method="get">
    <input type="hidden" id="address_id" name="address_id" value="<%= address.address_id %>">

    Street: <input id="street" name="street" type="text" size="70" maxlength="256" value="<%= address.street%>"/>

    <br />
    Zip Code: <input id="zip_code" name="zip_code" type="text" size="20" maxlength="30" value="<%= address.zip_code %>"/>

    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>